     body{ 
    margin: 0;
    background-color:#ccccff ;
    animation: sky 4.5s 2s forwards;
    overflow-y: hidden;

    }

      @keyframes sky{
        50%{
            background-color: #ffd700;
        }
        65%{
            background-color: #ffb90f;
        }
        85%{
            background-color: #b39800;
        }
        100%{
            background-color: #68228b;
        }     
    }
    img{
    position:absolute;
    bottom: 0;
    background-color: aquamarine;
    z-index: 2;
    }
    
      
    .sun{  
        height:100px;
        width:100px;
        border-radius: 50%;
        background-color: #ff8c1a;
        position:absolute;
        left: 50%;  
        box-shadow: 0 0 20px 50px #ff8c1a;
        animation: sunset 8s ease-in-out  forwards 1;
     }

        @keyframes sunset{
            0%{
                top: 0;
            }
            100%{
                top: 90%;
            }
     }

    
        
    .moon{
         background-color: transparent;
         height: 100px;
         width: 100px;
         border-radius:50%;
         margin: 30px;
         box-shadow: -20px 10px white;
         opacity: 0;
         animation: night 0.8s linear 7s  forwards;


     }
        @keyframes night{
            100%{
                opacity: 1;
            }

        }
        

    


